* {
    margin: 0;
}
/* Body styling */
body {
    background-color: #2d2d30;
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Link styling */
a {
    color: #007acc;
    text-decoration: underline;
    display: inline-block;
}

/* Git hub profile links tyling */
#github_profile {
    margin-top: 20px;
}

/* Header styling */
h1, h2 {
    text-align: center;
}

/* Header styling */
header {
    background-color: #1e1e1e;
    padding: 90px;
}

/* Main content styling */
main {
    text-align: center;
    margin: 0;
}

/* section and article general styling */
section, article {
    margin-top: 20px;
}
section p, article p {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 48px;
}

/* projects section */
#project_section {
    background-color: #1e1e1e;
    padding: 20px 0 20px;
    text-align: center;
}

#project_section img {
    max-width: 70%;
    width: auto;
    height: 300px;
    margin: 20px;
}

#project_section p {
    line-height: 32px;
    margin: 10px 30% 10px 30%;
}

/* grid layout for projects */
.project_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px;
    gap: 30px;
}

@media (max-width: 786px) {
    #project_section p {
         margin: 10px 20% 10px 20%;
    }
    .project_container {
        grid-template-columns: 1fr;
    }
}